@use "@/sharedStyles/abstracts.scss" as *;

.page {
  max-width: 960px;
  margin: 50px auto;
  padding: 10px 40px 40px;
  text-align: center;
  border: $blue3 1px solid;
  border-radius: 10px;
  background-color: $white;

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    h1 {
      color: $blue3;
      font-size: 40px;
    }
  }

  &__main {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
  }
}

@include Phone {
  .page {
    margin: 0;
    padding: 10px;

    &__main {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
