@use "@/sharedStyles/abstracts.scss" as *;

.panel {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 100px;
  gap: 10px;
  text-align: left;

  > div {
    margin-top: auto;
  }

  p {
    margin: 10px 0;
  }

  textarea {
    margin: 9px 0;
    width: 100%;
  }

  button {
    margin: 0;
    display: inline-block;
    margin-right: 20px;
  }
}

@include Phone {
  .panel {
    width: 100%;
    margin-left: 0;
    margin-top: 20px;
    text-align: center;
  }
}
