@use "@/sharedStyles/abstracts.scss" as *;

.calendar-wrapper {
  min-width: 310px;
  margin-bottom: 20px;

  .has-note > button {
    position: relative;
  }

  .has-note > button::after {
    content: "msg";
    position: absolute;
    bottom: 1px;
    font-size: 9px;
    font-weight: 300;
  }

  .rdp-today:not(.rdp-outside) {
    color: $blue2;
    font-weight: 700;
  }

  .rdp-selected .rdp-day_button {
    border-color: $blue3;
  }

  .rdp-chevron {
    fill: $blue3;
  }

  .rdp-month_caption {
    padding-left: 12px;
  }
}
