@use "@/sharedStyles/abstracts.scss" as *;

.page {
  max-width: 1280px;
  margin: 50px auto;
  padding: 10px 40px 40px;
  text-align: center;
  border: $blue3 1px solid;
  border-radius: 10px;
  background-color: $white;

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    h1 {
      color: $blue3;
      font-size: 40px;
    }
  }

  &__main {
    display: flex;
    margin: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  &__info {
    width: 100%;
  }

  &__info-btn {
    margin-right: 0;
  }

  &__info-title {
    margin-bottom: 20px;
  }
}

@include Tablet {
  .page {
    margin: 0;
    padding: 10px;

    &__main {
      margin: 0;
    }
  }
}

@include Phone {
  .page {
    &__main {
      margin: 0;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__info {
      > div {
        span {
          font-size: 14px;
        }
      }
    }
  }
}
