@use "@/sharedStyles/abstracts.scss" as *;

.btn {
  display: block;
  border-radius: 4px;
  border: 1px solid $blue3;
  color: $blue3;
  background-color: $blue;
  padding: 8px 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 700;
  white-space: nowrap;
  margin: 0 auto;

  &:hover {
    background-color: $blue2;
    border-color: $blue2;
    color: $white;
  }

  &:active {
    transition: none;
    background-color: $blue3;
  }

  &:disabled {
    filter: grayscale(1);
    opacity: 0.5;
    pointer-events: none;
  }
}
