@use "@/sharedStyles/abstracts" as *;

// Standart reset

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

html,
body {
  width: 100%;
  min-height: 100%;
  overflow-x: clip;
  font-family: sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  border: none;
  background-color: transparent;
}

button,
select,
option {
  cursor: pointer;
}

input[type="checkbox"] {
  cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul,
ol,
menu {
  list-style: none;
}

fieldset,
iframe {
  display: block;
  border: none;
}
