@use "@/sharedStyles/abstracts" as *;

// Example content wrapper

.wrapper {
  max-width: 1440px;
  padding-inline: 60px;
  margin-inline: auto;

  @include Tablet {
    padding-inline: 24px;
  }

  @include Phone {
    padding-inline: 16px;
  }
}
